.homeTitle {
  font-size: 120px;
  text-transform: uppercase;
  font-family: 'Gambetta', serif;
  letter-spacing: -3px;
  transition: 700ms ease;
  font-variation-settings: 'wght' 311;
  margin-bottom: 0.8rem;
  color: #f96621;
  outline: none;
  text-align: center;
}
.homeTitle:hover {
  font-variation-settings: 'wght' 582;
  letter-spacing: 2px;
}
.list {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
  list-style-type: none;
}
.registerBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 40px;
  text-decoration: none;
  font-size: 25px;
  border-radius: 7px;
  font-weight: 500;
  color: #fff;
  transition: box-shadow 0.2s ease-in-out;
}
.registerBtn:hover {
  background-color: #ff9362;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}
.contactsBtn {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  width: 150px;
  height: 40px;
  text-decoration: none;
  font-size: 25px;
  border-radius: 7px;
  font-weight: 500;
  color: #fff;
  transition: box-shadow 0.3s ease-in-out;
}
.contactsBtn:hover {
  background-color: #ff9362;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}
.titleBox {
  width: 100%;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
